  
body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: Verdana;
    background-color: #000;
  }
  canvas{
    background:#000;
    margin:auto;
    margin-top: 30px;
  }
  .glow {
      font-size: 80px;
      color: #fff;
      background-color: #000;
      text-align: center;
      animation: glow 1s ease-in-out infinite alternate;
      position: fixed;
      top: -2px;
    }
    
  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
      animation: glow 1s ease-in-out infinite alternate;
      font-size: 40px;
    }
    
    @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00dee6, 0 0 40px #00dee6, 0 0 50px #00dee6, 0 0 60px #00dee6, 0 0 70px #00dee6;
      }
      
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }